body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #3b3a36;
  background-color: #e9ece5;
}

.jumbotron {
  background-color: #c0dfd9;
}
.container-fluid {
  margin-left: 5%;
  padding-bottom: 5%;
}

label {
  font-size: 20px;
}

img {
  width:150px;
  height: auto;
  margin-left: 50px;
  margin-right: 0;
  border-radius: 15%;
}

 form {
   width: 60%;
 }

#cssDesign {
  display: none;
}

#cSharpJava {
  display: none;
}

#rubyRails {
  display: none;
}

#androidJava {
  display: none;
}

#surveyPic {
  border-radius: 5px;
  width:70%;
  height: auto;
}

.resultImage {
  float: left;
  padding-left: 0;
}

.paragraph {
  float: left;
  padding-left: 10;
  padding-right: 0;
  margin: 10px;
}
